## Iterations

Iterations are used to execute a block of code repeatedly. Python provides **FOR LOOPS** and **WHILE LOOPS** to 
perform iterations.   
In this lesson we will talk about **FOR LOOP** and also briefly about **WHILE LOOPS**

**This is the general syntax of the for loop in python:**

for <variable> in <iterable>:
    <statement>
    <statement>
    <statement>

In [1]:
# We are using the range function to execute the block of statments (here only a single print command) 10 times
# Just like the IF ELIF ELSE conditional statements, all the lines of code with the same indentation are executed

for i in range(10):    # Note: here we are using the membership operator "IN" 
    print(i)
    print('hello')
    # dummy line 1  # Lines of code with the same indentation. 
    # dummy line 2
    # .
    #..
    # ...

0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
hello

**Here we will see how the value of 'i' changes when we use the range() function.**  
By default, the values are generated starting with 0, and until one less than the value mentioned in the range() function.  
In this case, from 0 to 9

In [2]:
# 'i' is the variable here. It takes on values from the range function from 0 to 9, iteratively
for i in range(10):  
    print(i)

0
1
2
3
4
5
6
7
8
9

**In the next example we will use conditional statement in the for loop to print only the even numbers**

In [3]:
for i in range(10):
    if i%2==0:
        print(i)

0
2
4
6
8

Pay attention to the flow of the code and the indentation. IF condition is executed 10 times but 'i' is only 
printed when the condition is met because it is contained inside the IF statement

When we used the range function earlier, we mentioned that the values are generated starting from 0.   
However range function can also be used in a couple of other ways. Observe the outputs in the following codes.

In [4]:
for i in range(3, 10):  # In this case, the iteration starts on 3 until 9
    print(i)

3
4
5
6
7
8
9

In [5]:
for i in range(0, 10, 2):  # In this case, the iteration starts on 0 until 9 in steps of 2 
    print(i)

0
2
4
6
8

**In this example we will increment the value of a variable by a constant at each iteration.  
Then we will print the value of 'a' at each iteration and the final value of 'a' after the for loop ends.**

In [1]:
a = 0
constant = 5
for i in range(10):
    a = a + constant
    print("Value of a at step", i, "is", a)
print("This is the final value of a", a)

Value of a at step 0 is 5
Value of a at step 1 is 10
Value of a at step 2 is 15
Value of a at step 3 is 20
Value of a at step 4 is 25
Value of a at step 5 is 30
Value of a at step 6 is 35
Value of a at step 7 is 40
Value of a at step 8 is 45
Value of a at step 9 is 50
This is the final value of a 50

-----------------------------

### Exercise - Simple Iterations

**1. Write a simple for loop to print integers from 10 to 30**

In [2]:
for i in range(10, 30):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

**2. Update the previous code to print all the numbers from 10 to 30 that are multples of 5**

In [3]:
for i in range(10, 30):
 if i%5==0:
        print(i)

10
15
20
25

**3. Write a code to print this pattern. Modify the print statement in the dummy code provided**

*
***
*****

#### Dummy Code
```python
for i in range(1, _, _):
    print(___)
```

In [4]:
for i in range(1, 6, 2):
    print(i)

1
3
5

**4. Update the previous code to print the following pattern**

  *
 ***
*****

In [5]:
#I don't understand the point

**5. Take an positve integer input from the user. Find the factorial of that number. Use the factorial method 
provided in the math library to check if your result is correct or not. You can use the math library to 
calculate the factorial as follows:**

In [11]:
import math
math.factorial(n) # n is the postive integer for which we want to calculate the factorial

NameError: name 'n' is not defined

Note: Factorial is defined as 
    5 ! = 5*4*3*2*1    # " ! " is the mathematical notation for factorial
    
    n! = n*(n-1)*(n-2)*..........*1

In [6]:
n=7

In [7]:
import math
math.factorial(n)

5040

-----------------------------

**Iterating on Lists**  
We talked about lists and dictionaries before. You can also iterate the items of a list or a dictionaries.   
Here are some examples to show its implementation:

Here we have a list with some integer values. We will use the operator 'IN' to iterate on the values  'item' variable takes the values from the list starting with index 0 until the length of the list

In [8]:
x = [12, 43, 4, 1, 6, 343, 10]
for item in x:
    print(item)

12
43
4
1
6
343
10

We can iterate on the elements of the list, irrespective of the data type. An example is shown below:

In [9]:
fruits = ['apple', 'orange', 'banana', 'grapes', 'pineapple']
for fruit in fruits:
    print(fruit)

apple
orange
banana
grapes
pineapple

Here is a simple example to add the elements of a list

In [10]:
num_list = [34, 12, 93, 783, 330, 896, 1, 55]
total = 0

for i in num_list:
    total += i  # total = total + i
    print("Total at step",i, "is", total)
print('\n')  # to add an empty line (this is new line operator, it moves the cursor to the next line)
print("The final total is ", total)

Total at step 34 is 34
Total at step 12 is 46
Total at step 93 is 139
Total at step 783 is 922
Total at step 330 is 1252
Total at step 896 is 2148
Total at step 1 is 2149
Total at step 55 is 2204


The final total is  2204

**Add elements to an empty list**

In the next example we will show how to define an empty list and add elements to it using iterations.  
**Problem statement is:** we are given a list with some integer elements. We want to create a new list that will consists of the squares of each element of the list.

In [11]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list = [] # Defining an empty list 

for item in data:
    new_list.append(item**2)  # at each iteration, square for the value is calculated and appended to the list 
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

-----------------------------

### Exercise : Iterations on Lists

**1. Given the list:**

In [12]:
x = [12, 43, 4, 1, 6, 343, 10, 34, 12, 93, 783, 330, 896, 1, 55]

- Write a code to find only those numbers that are divisible by 3.  
- Write a code to find only those numbers in the list that end with the digit 3. Store the results in an empty list called "output_list".
- Find the minimum in the list `x`. Conduct your own research to see if you can use any function directly.
- Find the maximum in the list `x`. Conduct your own research to see if you can use any function directly.

In [19]:
for i in x:
    if i%3==0:
        print(i)
        
n = str('3')
output_list = [i for i in x if n in str(i)]
print (output_list) # the result is th numbers that include 3, don't know how to ask to end with 3

min(x)

max(x)

12
6
12
93
783
330
[43, 343, 34, 93, 783, 330]

896

-----------------------------

**Iterating on Dictionaries**  
Similarly we can also iterate on the elements of a dictionary. A simple example is shown below:

In [ ]:
#example 1

In [20]:
x = {'key1': 100 , 'key2': 200 , 'key3':300}

In [21]:
print(x.keys())

dict_keys(['key1', 'key2', 'key3'])

In [22]:
for key in x.keys():
    print(x[key])

100
200
300

In [23]:
#example 2

In [24]:
for key, value in x.items():
    print("For ", key, " the value is: ", value)

For  key1  the value is:  100
For  key2  the value is:  200
For  key3  the value is:  300

In [25]:
#example 3

In [26]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}

for name, age in ages.items():
    print(name, "is", age, "years old.")

Brian is 23 years old.
Amy is 22 years old.
Darlene is 47 years old.
Ralph is 32 years old.
Jordan is 28 years old.
Stephanie is 35 years old.

### Exercise: Iterations on Dictionaries

**1. Given this dictionary:**

In [6]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2}

- Iterate on the items of this dictionary to print only those keys where the freqeuncy of the word is less than 3?
- Which is the word with the highest frequency?

In [13]:
for key in word_freq.keys():
    if word_freq[key]<3:
        print(key, word_freq[key])

conversation 1
we're 1
plate 1
sour 1
jukebox 1
taxi 1
fast 1
bag 1
man 1
going 1
don't 2
one 1
mind 2
backseat 1
friends 1
know 2

In [10]:
word_freq['love']

25

In [1]:
# no idea, spent too much time on it alreary

In [28]:
max(word_freq)

'you'

## While Loops

While loop executes a block of statement until the condition is true. As soon as the condition is false, flow of the code jumps out of the while loop and starts executing the code after the while loop.

In [2]:
i = 0 
while i<10:
    print("Hello")
    print(i)
    i = i+1 # we update the value of i depending on how many times or how we want the while loop to work

Hello
0
Hello
1
Hello
2
Hello
3
Hello
4
Hello
5
Hello
6
Hello
7
Hello
8
Hello
9

We initialize a variable `i` that we put a condition on in the WHILE statement. We use it to control the execution of the iterations

In [3]:
i = 0
while i<10:
    print("Hello")
    print(i)
    i = i + 3 # we update the value of i depending on how many times or how we want the while loop to work

Hello
0
Hello
3
Hello
6
Hello
9

In [4]:
word = "IRONHACK"
i = 0
while i < len(word):
    print(word[i])
    i=i+1

I
R
O
N
H
A
C
K

**Please go through a guided example to understand how the while loop can be used to solve a problem**

**Also please pay attention to this problem, we will ask you a similar question in the assessment as well !!**

### Snail and well

A snail falls at the bottom of a 125 cm well. Each day the snail rises 30 cm. But at night, while sleeping, slides 20 cm because the walls are wet. How many days does it take to escape from the well?

In [5]:
# Assign problem data to variables with representative names
# well height, daily advance, night retreat, accumulated distance
well_height = 125
daily_climb = 30
nightly_fall = 20
total_distance = 0

# Assign 0 to the variable that represents the solution
total_days = 0

# Assume we begin during the day, we use this boolean to determine if it is day or night
is_day = True

# Write the code that solves the problem
while (total_distance < well_height):
    if (is_day):
        total_distance += daily_climb
        total_days += 1
        is_day = False
    else:
        total_distance -= nightly_fall
        is_day = True
        # Assume we only add days at end of night
        
    
# Print the result with print('Days =', days)
print('Days =', total_days)

Days = 11